
header {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  }


.tagging {
 margin: 20px;
  
}


.discovery {
  margin: 20px;
}


a {
  color: #00B7FF;
}

header {
  background-color: grey;
  width: 100%;
  color: white;
}

#tag-form {
  
}

#filter-form {
  
}

#results {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
}

#results li {
  padding: 5px;
  margin-bottom: 7px;
  background-color: #3bb0de;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.footer {
  background-color: grey;
  color: white;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 3px;
  width: 100%;
}